* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
}


.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.button1 {
  background-color: rgb(63, 166, 63);
  padding: 12px 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  border-style: none;
}
.logo {
  margin: 16px;
}

#banner {
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1905px;
  height: 911px;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.access {
  padding: 8px 12px 8px 12px;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 1);
  color: #30b868;
  margin-bottom: 3px;
}



#banner_section h1 {
  font-size: 72px;
  font-weight: 700;
}
#banner_section h1 .structured {
  color: rgba(255, 255, 255, 1);
}
#banner_section h1 .note {
  color: rgba(48, 184, 104, 1);
}
#banner_section p {
  color: rgba(255, 255, 255, 1);
margin-top: 10px;
margin-bottom: 20px;
}
 #banner_section .button2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
 #banner_section .button2 .start_button{
  
  border-radius: 4px;
  background-color: #24cb69;
  padding: 12px 16px 12px 16px;
  align-items: center;
  outline: none;
  color: rgba(255, 255, 255, 1);
  list-style-type: none;

  
}
#banner_section .button2 .see_button{
padding: 12px 16px 12px 16px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 4px;

outline: none;
}
#notes_section{
    background: rgba(251, 251, 251, 1);
   align-items: center;
   justify-content: center;


}
#notes_section .notes_heading h1{
 text-align: center;   
 font-size: 48px;
 margin-top: 10px;
 margin-bottom: 15px;
}
#notes_section .notes_heading p{
color: var(--#696d70, rgb(181, 183, 184));
font-size: 16px;
font-weight: 400;

text-align: center;
}
.card{
    display: flex;

justify-content: space-evenly;

gap: 16;
padding: 24px;

background: rgba(255, 255, 255, 1);
}
.card .card_part{
    border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(43, 40, 40, 0.06);
background:white;
    margin: 40px;
    border: 5px;
    gap: 16;
padding: 24px;
    


}
.card .card_part img{
    background-color: red;
    border-radius: 100%;
    margin-left: 95px;
   
    width: 50px;
height: 50px

}
.card .card_part h2{
    text-align: center;
    margin-top: 10px;
}
.card .card_part p{
    text-align: center;
    margin-top: 10px;
}



.second_brain{
    display: flex;
    justify-content:space-around;
    

}
.second_brain .brain_note .brain_heading h4{
    color: #24cb69;
    margin-bottom: 15px;
    margin-top: 20px;
}
.second_brain .brain_note .brain_heading h1{
  margin-bottom: 15px;
}
.second_brain .brain_note .brain_heading p{
  margin-bottom: 20px;
}
.second_note{
  color: var(--Style, rgba(0, 25, 49, 1));

font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.challenge{
    background: rgba(247, 246, 242, 1);
    align-items: center;
    text-align: center;
gap: 24;
padding: 80px 40px 80px 40px;
margin: 0px 120px 120px 5px;
border-radius: 8px;



}

.challenge h1{
  margin-bottom: 15px;
}

.challenge p{
  color: rgb(103, 109, 114);
font-size: 16px;
font-weight: 400;
margin-bottom: 15px;
}
.challenge button{
  gap: 10;
padding: 12px 16px 12px 16px;
justify-content: center;
text-align: center;
background: rgba(17, 141, 42, 0.803);
color: aliceblue;
margin-bottom: 15px;
border: 0px;
border-radius: 5px;


;
/* .challenge button .arrowimg{
  margin-top: 15px;
} */

}

footer{
  background: #031c33;
  width: 100%;
  height:200px;

}
.footer_up{
  display: flex;
  justify-content:space-between;
  
}
.footer_img{
  margin-top: 40px;
  margin-left: 25px;
}


.footer_up .footer_part{
  margin-right: 30px;
  ;
}
.footer_up .footer_part h3{
  width: 113px;
height: 28px;
color: rgb(249, 249, 248);
}
.footer_up .footer_part .icons{
  width:5px;
  display: flex;
  height: 20px;
  gap: 10px;
}
.footer_up, .footer_part ,h3{
  margin-top: 25px;

}


.copyright{
  width: 1360px;
height: 24px;
color: rgba(250, 250, 250, 1);font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-left: 225px;
margin-top: 7px;

}
hr{
 background-color: 1px solid black;
}



